.posCenter {
	text-align: center;
}

.posRight {
	text-align: right;
}

.posCenter p {
	margin-bottom: 0px;
}

.margin_top_20 {
	margin-top: 20px;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike the text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
}

.close:hover {
    background-color: #f44336;
    color: white;
}